<h1 id="sqlite-backup">SQLite Backup</h1>
<p>Evolution de la http://www.bricabox.info[bricabox] oblige, certain scripts doivent aussi évoluer. C’est la vie du code, je ne vous apprend rien.</p>
<p>La bricabox a maintenant un site pour elle, basé sur http://radiantcms.org/[Radiant CMS], Jean-mi a construit un http://www.lacomte.net[portail de la comte] également basé sur RadiantCMS (oui au passage, sont blog à changé d’adresse: http://blog.lacomte.net[blog.lacomte.net]). Tout les deux n’ayant pas pour vocation d’être gavé de données, ni d’avoir beaucoup d’accès en écriture, nous avons tout les deux opté pour http://www.sqlite.org/[SQLite], [line-through]#Une petite base de donnée# un petit programme de gestion de base de donnée relationnelle écrit en C, très leger, très pratique dans ce genre de cas de figure (pas de configuration complexe, pas de serveur...).</p>
<p>Mais voilà, la tache de backup des bases de donnée avait été écrit uniquement pour les bases de l’époque: http://www-fr.mysql.com/[MySQL] (je vous passe l’actu du jour sur le rachat de MySQLAB par Sun Microsystem ? :D). Donc il faut ajouter quelque ligne là dedans.</p>
<p>Un peu de recherche m’amène sur http://www-128.ibm.com/developerworks/opensource/library/os-sqlite/[une bonne introduction pour SQLite chez IBM] (enfin, vu la facilité d’utilisation, est-ce nécessaire :D). Tout ça pour finalement ajouter un test et une petite ligne:</p>
<table>
<tbody>
<tr class="odd">
<td>sqlite3 -batch #{db_config[‘database’]} .dump &gt; #{backup_file}</td>
</tr>
</tbody>
</table>
<p>Et voilà les taches de backup qui sont à nouveaux opérationnelles.</p>
<p><em>Bon reste à voir où je place ces fichiers...</em></p>
<p><em>J’aime de plus en plus SQLite :) Attention à utiliser avec modération quand même</em></p>
