<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Yannick François - Les pieds dans le code</title>

    <meta name="DC.title" content="elsif.fr, site de Yannick François aka yaf aka pouype."/>
    <meta name="description" content="Yannick François's website. Senior developer, Code pedagogist. /ut7 teammate, proud member of Electrolab, the crazy hackerspace. Eternel supporter of April, a french association about freesoftware."/>
    <meta name="keywords" content="code, développement, lean, agile, logiciel, tdd, objet, ruby, site perso, personnel, ruby on rails, refactoring, openbsd, bsd, libre, creative commons, unix"/>
    <meta name="author" content="Yannick François, https://elsif.fr"/>
    <meta name="designer" content="Yannick François, https://elsif.fr"/>
    <meta name="geo.placename" content="Poissy, Ile de france, France"/>
    <meta name="robots" content="index,follow" />
    <meta name="language" content="French" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="index" title="Yannick François / Developer" href="https://elsif.fr" />
    <link rel="stylesheet" href="/css/knacss.css" media="all"/>
    <link rel="stylesheet" href="/css/elsif.css" media="all"/>
    

<article>

<h1>
  OpenBSD Current -&gt; 4.3
  
</h1>

<p>Ah ben oui, un truc que j’ai oublié c’est que quand <a href="/2008/02/02/openbsd-current.html">on suit OpenBSD-current</a> et que le <a href="/2008/02/21/openbsd-4-3-chrooted-ssh.html">tag de la 4.3-beta</a> vient d’être posé, et bien on suit 4.3 maintenant :D</p>

<p>Du coup, petite modif du <code>/etc/OpenOpenBSD-binary-upgrade.rc</code> pour y préciser que l’on suit maintenant la version 4.3:</p>

<pre>
  {% highlight bash %}
    BSDVERSION='43'
  {% endhighlight %}
</pre>

<p>On vérifie aussi niveau mirroir que l’on pointe bien vers soit uniquement les snapshots soit directement dans les paquet 4.3 (enfin là tout de suite vaut mieux suivre snapshot uniquement, il n’y a pas encore de paquet compilé 4.3 officiel :))</p>

<pre>
  {% highlight bash %}
    # rsync mirrors
    # -------------
    # rsync is even cooler. It will merge the changes in binary packages!
    FETCH='rsync -P -L --recursive --times'
    #
    # The mirror needs a trailing slash for the listing function to work.
    MIRROR='rsync://rsync.mirrorservice.org/pub/OpenBSD/snapshots/i386/'
  {% endhighlight %}
</pre>

<p><em>Dans mon cas j’ai choisi le mirroir rsync anglais, mais on peut prendre celui qui correspond le mieux bien. Je vous laisse voir la liste sur</em> <a href="http://www.openbsd.org/ftp.html#rsync">la liste officiel des mirroirs Rsync d’OpenBSD</a></p>

<p>Bon, maintenant le <code>/etc/OpenOpenBSD-binary-upgrade.rc</code> est nickel. On n’oublie pas non plus de modifier le <code>PKG_PATH</code>  dans notre <code>~/.profile</code> histoire de pouvoir continué à utilise les commandes <code>pkg_*</code>:</p>

<pre>
  {% highlight bash %}
  export PKG_PATH=ftp://ftp.arcane-networks.fr/pub/OpenBSD/snapshots/packages/`machine -a`/
  {% endhighlight %}
</pre>

<p><em>Pour les paquets, y’a beaucoup plus de serveur. Dont 3 en france, un ftp c’est plus facile à mettre en place qu’un serveur rsync ? Bref, pour choisir, voici</em> <a href="http://www.openbsd.org/ftp.html#ftp">la liste des serveurs ftp officiel d’OpenBSD</a></p>

<p>Et voilà, un petit <code>sudo  OpenBSD-binary-upgrade</code> et c’est parti !</p>

<article>


<footer style="font-size:75%;text-align:right"><em><a href="/feed.xml">suivre les articles</a></em></footer>
</body>
</html>


