<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="generator" content="Hugo 0.22.1" />
    <meta charset="utf-8">
    <title>Yannick François - Elsif.fr</title>

    <meta name="DC.title" content="elsif.fr, site de Yannick François aka yaf (ou ya_f)."/>
    <meta name="description" content="Le site de Yannick François. Développeur Senior, Responsable Produit, Pédagogue. Je travail chez Scopyleft"/>
    <meta name="keywords" content="code, développement, programmation, apprentissage, apprendre, lean, agile, logiciel, tdd, objet, refactoring, libre, creative commons, linux, unix"/>
    <meta name="author" content="Yannick François, https://elsif.fr"/>
    <meta name="designer" content="Yannick François, https://elsif.fr"/>
    <meta name="geo.placename" content="Poissy, Ile de france, France"/>
    <meta name="robots" content="index,follow" />
    <meta name="language" content="French" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="index" title="Yannick François / Développeur / Pédagogue" href="index.html" />
    <link rel="stylesheet" href="/css/201912-elsif.css" media="all"/>
    <link rel="alternate" type="application/rss" href="/feed.xml" title="elsif.fr/feed" />
  </head>
  <body>
    <article>
      <h1>SQLite Backup</h1>
      <p>Evolution de la <a href="http://www.bricabox.info">bricabox</a> oblige, certain scripts doivent aussi évoluer. C’est la vie du code, je ne vous apprend rien. C’est donc le moment de reprendre un peu la <a href="/2007/08/07/rake-sauvegarde-de-base-de-donnee.html">tache Rake de backup</a> pour y ajouter quelque morceau.</p>
      <p>La bricabox a maintenant un site pour elle, basé sur <a href="http://radiantcms.org/">Radiant CMS</a>, Jean-mi a construit un <a href="http://www.lacomte.net">portail de la comte</a> également basé sur RadiantCMS (oui au passage, sont blog à changé d’adresse: <a href="http://blog.lacomte.net">blog.lacomte.net</a>). Tout les deux n’ayant pas pour vocation d’être gavé de données, ni d’avoir beaucoup d’accès en écriture, nous avons tout les deux opté pour <a href="http://www.sqlite.org/">SQLite</a>. <del>Une petite base de donnée</del> un petit programme de gestion de base de donnée relationnelle écrit en C, très leger, très pratique dans ce genre de cas de figure (pas de configuration complexe, pas de serveur…).</p>
      <p>Mais voilà, la tache de backup des bases de donnée avait été écrit uniquement pour les bases de l’époque: <a href="http://www-fr.mysql.com/">MySQL</a> (je vous passe l’actu du jour sur le rachat de MySQLAB par Sun Microsystem ? :D). Donc il faut ajouter quelque ligne là dedans.</p>
      <p>Un peu de recherche m’amène sur <a href="http://www-128.ibm.com/developerworks/opensource/library/os-sqlite/">une bonne introduction pour SQLite chez IBM</a> (enfin, vu la facilité d’utilisation, est-ce nécessaire :D). Tout ça pour finalement ajouter un test et une petite ligne:</p>
      <pre>
        {% highlight bash %}
          sh “sqlite3 -batch #{db_config[‘database’]} .dump &gt; #{backup_file}”
        {% endhighlight %}
      </pre>
      <p>Et voilà les taches de backup qui sont à nouveaux opérationnelles.</p>
      <p><em>Bon reste à voir où je place ces fichiers…</em></p>
      <p><em>J’aime de plus en plus SQLite :) Attention à utiliser avec modération quand même</em></p>
    </article>
    <footer>
      <ul>
            </ul>
    </footer>
  </body>
</html>

