<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Yannick François - Les pieds dans le code</title>

    <meta name="DC.title" content="elsif.fr, site de Yannick François aka yaf aka pouype."/>
    <meta name="description" content="Yannick François's website. Senior developer, Code pedagogist. /ut7 teammate, proud member of Electrolab, the crazy hackerspace. Eternel supporter of April, a french association about freesoftware."/>
    <meta name="keywords" content="code, développement, lean, agile, logiciel, tdd, objet, ruby, site perso, personnel, ruby on rails, refactoring, openbsd, bsd, libre, creative commons, unix"/>
    <meta name="author" content="Yannick François, https://elsif.fr"/>
    <meta name="designer" content="Yannick François, https://elsif.fr"/>
    <meta name="geo.placename" content="Poissy, Ile de france, France"/>
    <meta name="robots" content="index,follow" />
    <meta name="language" content="French" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="index" title="Yannick François / Developer" href="https://elsif.fr" />
    <link rel="stylesheet" href="/css/knacss.css" media="all"/>
    <link rel="stylesheet" href="/css/elsif.css" media="all"/>
    

<article>

<h1>
  OpenBSD: Patch
  
</h1>

<p>J&rsquo;hésitais avec &ldquo;Patcher n&rsquo;est pas joué&rdquo; comme titre mais bon.</p>

<p>Me voilà donc dans une nouvelle étape de ma découverte d&rsquo;OpenBSD: la mise à jour. Contrairement à Debian et aux gnu/linux en général, pas de mise à jour de noyau en même temps que la mise à jour des applications. Pas de synaptic, .deb et autre rpm. Le système ressemblerais plus à Gentoo apparement, mais n&rsquo;ayant jamais essayé Gentoo, je ne me permettrais pas de l&rsquo;affirmer.</p>

<p>Donc, pour les BSD en général (je crois) et OpenBSD en particulier (j&rsquo;en suis sur), le système devant passer un audit poussé, les applications sont mises à part, elles ne sont pas contrôlé par l&rsquo;équipe d&rsquo;OpenBSD. Elles ne bénéficie pas de la même niveau de sécurité garanti:</p>

<blockquote>
<p>we just do not have enough human resources to ensure the same level of robustness and security.</p>
</blockquote>

<p>On en reparleras plus tard ;-)</p>

<p>Grace au site <a href="http://www.openbsd101.com/">www.openbsd101.com</a> je me suis lancé en toute tranquillité dans la mise à jour du coeur de mon système. Il y a actuellement <a href="http://openbsd.org/errata.html">3 patchs pour OpenBSD 3.9</a>. J&rsquo;ai donc suivi <a href="http://www.openbsd101.com/patching.html">les instructions d&rsquo;OpenBSD101.com</a>, adapté à mon architecture PowerPC évidemment. Tout c&rsquo;est déroulé à merveille. Xorg est un peu long à compiler sur un mac mini mais suffit de prévoir ;-)</p>

<p>Le patch, dit &ldquo;manuel&rdquo;, est une des méthodes qui permet de garder son système à jour. <a href="http://openbsd.unixtech.be/fr/stable.html">Cette page d&rsquo;OpenBSD.org explique comment suivre Stable</a> mais outre le CVS, on peut très bien appliquer les patchs &ldquo;à la main&rdquo;. Dans mon cas, c&rsquo;est ce que j&rsquo;ai préféré faire. Dans cahque patch est se trouve les instructions à effectuer pour appliquer le patch.</p>

<pre>
  {% highlight bash %}
    # head 001_sendmail.patch
    Apply by doing:
        cd /usr/src
        patch -p0
  {% endhighlight %}
</pre>

<p>Mais tout est très bien expliquer sur OpenBSD101 ;-)</p>

<p>Me voilà donc Stable ! Prochaine étape, bien comprendre le système applicatif (packages ET ports).</p>

<article>


<footer style="font-size:75%;text-align:right"><em><a href="/feed.xml">suivre les articles</a></em></footer>
</body>
</html>


