<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="generator" content="Hugo 0.22.1" />
    <meta charset="utf-8">
    <title>Yannick François - Elsif.fr</title>

    <meta name="DC.title" content="elsif.fr, site de Yannick François aka yaf (ou ya_f)."/>
    <meta name="description" content="Le site de Yannick François. Développeur Senior, Responsable Produit, Pédagogue. Je travail chez Scopyleft"/>
    <meta name="keywords" content="code, développement, programmation, apprentissage, apprendre, lean, agile, logiciel, tdd, objet, refactoring, libre, creative commons, linux, unix"/>
    <meta name="author" content="Yannick François, https://elsif.fr"/>
    <meta name="designer" content="Yannick François, https://elsif.fr"/>
    <meta name="geo.placename" content="Poissy, Ile de france, France"/>
    <meta name="robots" content="index,follow" />
    <meta name="language" content="French" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="index" title="Yannick François / Développeur / Pédagogue" href="index.html" />
    <link rel="stylesheet" href="/css/201912-elsif.css" media="all"/>
    <link rel="alternate" type="application/rss" href="/feed.xml" title="elsif.fr/feed" />
  </head>
  <body>
    <article>
      <h1>Note to self</h1>
      <p><strong>Je n’oublierais plus d’installer mysql-dev avant d’essayer d’installer le binding ruby-mysql</strong></p>
      <p>Il faut que je me marque ça sur un marbre, accroché en pendentif !</p>
      <p>Ca doit faire au moins 3 fois que je me fais avoir. Bon ce soir, j’ai juste mis 10 minutes avant de m’en rendre compte. Donc histoire de ne plus oublier, je note ici la procédure. Elle se déroule sur macosX mais elle s’adapte à tout à peut de chose prêt.</p>
      <pre>
        {% highlight bash %}
          # Pour l’installation de mysql:
          pouype@pomme:pouype$ fink install mysql
          # pour la futur installation de ruby-mysql
          pouype@pomme:pouype$ fink install mysql-dev
          # Et après on peut sereinement executé:
          pouype@pomme:pouype$ gem install mysql
        {% endhighlight %}
      </pre>
      <p><em><a href="http://docs.rubygems.org/">RubyGem</a> c’est bien, c’est pratique. Il faudrait que j’en parle…</em></p>
      <p><strong>Dernière minutes</strong></p>
      <p>Bon en fait j’avais pas vu, mais ça n’as pas marché, un problème pour trouver les librairies mysql on dirait. Bref, Gem c’est bien, mais on bonne installation de librairies à l’ancienne, avec un setup.rb, install.rb ça marche mieux ;-)</p>
    </article>
    <footer>
      <ul>
            </ul>
    </footer>
  </body>
</html>

