<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Yannick François - Les pieds dans le code</title>

    <meta name="DC.title" content="elsif.fr, site de Yannick François aka yaf aka pouype."/>
    <meta name="description" content="Yannick François's website. Senior developer, Code pedagogist. /ut7 teammate, proud member of Electrolab, the crazy hackerspace. Eternel supporter of April, a french association about freesoftware."/>
    <meta name="keywords" content="code, développement, lean, agile, logiciel, tdd, objet, ruby, site perso, personnel, ruby on rails, refactoring, openbsd, bsd, libre, creative commons, unix"/>
    <meta name="author" content="Yannick François, https://elsif.fr"/>
    <meta name="designer" content="Yannick François, https://elsif.fr"/>
    <meta name="geo.placename" content="Poissy, Ile de france, France"/>
    <meta name="robots" content="index,follow" />
    <meta name="language" content="French" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="index" title="Yannick François / Developer" href="https://elsif.fr" />
    <link rel="stylesheet" href="/css/knacss.css" media="all"/>
    <link rel="stylesheet" href="/css/elsif.css" media="all"/>
    

<article>

<h1>
  OpenBSD 4.5-current
  
</h1>

<p>Le gestionnaire de version d&rsquo;<a href="http://openbsd.org">OpenBSD</a> vient de voir un tag 4.5 arrivé. Comme d&rsquo;habitude c&rsquo;est <a href="http://fr.wikipedia.org/wiki/Th%C3%A9o_de_Raadt">Théo</a> qui le pose tranquillement:</p>

<pre>
  {% highlight bash %}
    CVSROOT:  /cvs
    Module name:  src
    Changes by: deraadt@cvs.openbsd.org 2009/02/28 19:21:07

    Modified files:
    sys/conf       : newvers.sh

    Log message:
    move to 4.5-current
  {% endhighlight %}
</pre>

<p>Et hop, voilà le travail. Comme d&rsquo;habitude, cela annonce le gèle des ports prochain jusqu&rsquo;à la sortie le 1er mai de cette nouvelle version. Les possibilités de pré-commande ne vont pas tarder à apparaitre également.</p>

<p>Je suis impatient de voir quel thème va être associé à cetet version. J&rsquo;ai adoré le précédent basé sur <a href="http://fr.wikipedia.org/wiki/Starwars">starwars</a>:</p>

<p><a href="http://openbsd.org/44.html"><img src="http://www.openbsd.org/images/SourceWars.jpg" alt="OpenBSD 4.4 cover" /></a></p>

<p><em>via le journal officiel d&rsquo;OpenBSD: <a href="http://undeadly.org/cgi?action=article&amp;sid=20090304031205">undeadly.org</a></em></p>

<article>


<footer style="font-size:75%;text-align:right"><em><a href="/feed.xml">suivre les articles</a></em></footer>
</body>
</html>


