body {
  font-size:16pt;
  max-width:70rem;
  margin: 1em;
  color: dark;
  background: white;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

a {
  color: darkred;
}

a:hover {
  background: gold;
}

a:visited, a:active {
  color: darkgrey;
}

nav {
  text-align:center;
  font-size:smaller;
  padding: 0;
  margin: 0;
}

nav li {
  margin: .4rem 0rem;
  list-style-type: none;
}

nav hr {
  text-align:right;
  height: 2px;
  color: grey;
  background-color: lightgrey;
  width: 75%;
  margin: 1em 0 auto auto;
  border: 1px dotted;
}

@media (min-width: 500px) {
  .portrait {
    float:left;
    margin: .3em 1em;
  }

  main {
    margin-left: 20rem;
  }

  nav {
    text-align:right;
    position: fixed;
    top: 0;
    left: 0;
    width:20rem;
    min-height: 100vh;
    margin-top: 6rem;
  }
}


