body {
  font-size:16pt;
  max-width:42rem;
  margin: 1em;
  color: black;
  background: white;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

a {
  color: darkred;
}

a:hover {
  background: gold;
}

a:visited, a:active {
  color: dimgrey;
}

nav {
  text-align:center;
  font-size:smaller;
  padding: 0;
  margin: 0;
}

nav li {
  list-style-type: none;
}

.portrait {
  margin: 1em;
}

